@using Microsoft.AspNetCore.WebUtilities
@using System.Text
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="myDiv">
    <h1 class="display-4">Welcome</h1>
</div>


@{
    var code = "Hello Test for WebEncoders.Base64UrlEncode() and Decoding() " + DateTime.Now.Ticks.ToString();
    string? code1 = null;

    code=WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(code));

    code1 = Encoding.UTF8.GetString(WebEncoders.Base64UrlDecode(code));
}
<span>@code</span><br />
<span>@code1</span><br/>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" data-info="@code1">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="myModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>

        $(function(){

         var $myModel= $('#myModal');

        $myModel.on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var recipient = button.data('info');
                var modal = $(this);
                modal.find('.modal-title').text('New message to ' + recipient);
                modal.find('.modal-body input').val(recipient);
            });

         $myModel.on('hidden.bs.modal', function(){
            $('#myDiv').find('h1').text('The modal is hidden').css('color','red');
        });
        });


    </script>
}
