@{
    ViewData["Title"] = "Index";
}

<p>   
    <button class="btn btn-link" data-id="Add" id="AddNew">Add Feedback</button>
</p>
<div id="msgArea"></div>
<div id="feedbackList">
    <!-- AJAX से लोड होगी -->
</div>


<!-- Bootstrap Modal Edit-->
<div class="modal fade" id="editModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="editModalContent">
                <!-- Partial view will be loaded here -->
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap Modal Add-->
<div class="modal fade" id="addFeedbackModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form id="addfeedback" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-3">
                        <label class="control-label">Name</label>
                        <input name="Name" class="form-control" maxlength="100" required />
                    </div>
                    <div class="form-group mb-3">
                        <label class="control-label">Email</label>
                        <input name="Email" class="form-control" maxlength="100" required type="email" />
                    </div>
                    <div class="form-group mb-3">
                        <label class="control-label">Mobile</label>
                        <input name="Mobile" class="form-control" maxlength="10" required type="tel" />
                    </div>
                    <div class="form-group mb-3">
                        <label class="control-label">Message</label>
                        <textarea name="Message" class="form-control" rows="2" maxlength="1000" required></textarea>

                    </div>
                    <div class="form-group mb-3">
                        <label class="control-label">Attachment</label>
                        <input name="Attachment" type="file" accept=".pdf,.doc,.docx" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary mr-2" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="btnSave">SAVE</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script> 
        function loadFeedbacks() {
          $.get('/api/feeddata/', function (data) {
            let html = `<table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Mobile</th>
                                    <th>Message</th>
                                    <th>File</th>
                                    <th>Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>`;

            data.forEach(item => {
                let fileLink = item.url ? `<a href="/uploads/${item.url}" target="_blank">Download</a>` : "No File";
                html += `<tr>
                            <td>${item.name}</td>
                            <td>${item.email}</td>
                            <td>${item.mobile}</td>
                            <td>${item.message}</td>
                            <td>${fileLink}</td>
                            <td>${new Date(item.registerDate).toLocaleString()}</td>
                            <td>
                                <a class="btn btn-link edit-btn" data-id="${item.id}" href="#">Edit</a>|
                                <a class="btn btn-link delete-btn" data-id="${item.id}" href="#">Delete</a>
                            </td>
                         </tr>`;
            });

            html += "</tbody></table>";
            $('#feedbackList').html(html);
        });
        }



        $(document).ready(function () {

            loadFeedbacks();

            $(document).on('click', '.edit-btn', function (e) { 
                e.preventDefault();
                var id = $(this).data('id');
                $.get('/User/EditFeedback/' + id, function (data) {
                    console.log(data);
                    $('#editModalContent').html(data);
                    $('#editModal').modal('show');
                });
            });

            $(document).on('click', '.delete-btn', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            if (confirm('Are you sure you want to delete this record?')) {
                $.ajax({
                    url: '/User/Delete/' + id,
                    type: 'POST',
                    success: function (result) {
                        // Optionally remove the row from the table
                        if(result.success){
                            alert(result.message);
                        loadFeedbacks(); }
                    },
                    error: function () {
                        alert('Error deleting record.');
                    }
                });
            }
            });



            $('#AddNew').click(function () {
                $('#addFeedbackModal').modal('show');
            });

            $('#addfeedback').on('submit', function (e) {

            e.preventDefault();
            var formData = new FormData(this);

            $.ajax({
                url: '/Api/FeedData/PostFeedback',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (res) {
                    if (res.success) {
                        location.reload();
                        $('#addFeedbackModal').modal('hide');
                        alert(res.message);
                        $('#employeeForm')[0].reset();
                        $('#msgArea').text('');
                        
                    } else {
                        $('#msgArea').text(res.message);
                    }
                },
                error: function () {
                    $('#msgArea').text("Something went wrong.");
                }
            });

            });






        //      $('#btnSave').click(function () {
        //     let form = $('#addfeedback')[0];
        //     let formData = new FormData(form);
        //     console.log(formData);


        //     $.ajax({
        //         url: '/Api/PostFeedback',
        //         type: 'POST',
        //         data: formData,
        //         processData: false,
        //         contentType: false,
        //         success: function (res) {
        //             if (res.success) {
        //                 $('#addFeedbackModal').modal('hide');
        //                 alert(res.message);
        //                 $('#employeeForm')[0].reset();
        //                 $('#msgArea').text('');
        //             } else {
        //                 $('#msgArea').text(res.message);
        //             }
        //         },
        //         error: function () {
        //             $('#msgArea').text("Something went wrong.");
        //         }
        //     });
        // });

        });
    </script>
}