@model FeedbackAddDTO
<form asp-action="PostFeedback" enctype="multipart/form-data" method="post" id="addForm" >
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group mb-3">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Mobile" class="control-label"></label>
        <input asp-for="Mobile" class="form-control" />
        <span asp-validation-for="Mobile" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Message" class="control-label"></label>
        <textarea asp-for="Message" class="form-control" rows="2"></textarea>
        <span asp-validation-for="Message" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Attachment" class="control-label"></label>
        <input asp-for="Attachment" type="file" accept=".pdf,.doc,.docx" class="form-control" />
        <span asp-validation-for="Attachment" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-secondary mr-2" data-bs-dismiss="modal">Close</button>
        <input type="submit" value="Save" class="btn btn-primary" />
        <input type="button" value="Save ME" class="btn btn-success" id="btnSave" />
    </div>
</form>
<script>
    // Re-parse the form for validation after loading via AJAX
    $.validator.unobtrusive.parse('#addForm');
</script>