@model AddPhotoDTO

@{
    ViewData["Title"] = "Add Photo";
}
<h1>@ViewData["Title"]</h1>
<h5>@TempData["msg"]</h5>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPhoto" enctype="multipart/form-data" onsubmit="return validateFileSize()">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="AlbumId" class="control-label"></label>
                <select asp-for="AlbumId" class="form-select" asp-items="ViewBag.AlbumList">
                    <option value="">-Choose Album-</option>
                </select>
                <span asp-validation-for="AlbumId" class="text-danger"></span>
            </div>
            <div class="form-group  mb-3">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Attachment" class="control-label"></label>
                <input asp-for="Attachment" class="form-control" accept="image/*" onchange="previewImage(event)" multiple="true" />
                <span asp-validation-for="Attachment" class="text-danger"></span>
             
            </div>
            
            <div class="form-group mb-3">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" class="form-control" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Add Photo" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <div id="fileError" class="text-danger"></div>
        <div id="imageContainer">           
        </div>
    </div>
</div>

<div>
    <a asp-action="PhotoGallery">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        const fsize1=102400    //100KB => 100 * 1024 = 102400   //150KB => 150 * 1024 = 153600

        function previewImage(event) {

            const input = event.target;           
            document.getElementById("fileError").innerText="";  
            document.getElementById("imageContainer").innerText="";          

            for(var i=0; i<input.files.length; i++)
            {
                if (input.files[i].size <= fsize1)
                {                
                    const reader = new FileReader();
                    reader.onload = function (e) { addImage(e.target.result); }
                    reader.readAsDataURL(input.files[i]);
                }
                else
                {    var li = document.createElement("li");
                     li.innerText=input.files[i].name +" image size is grater "+fsize1/1024+" KB. File size is "+parseInt(input.files[i].size/1024)+" KB."
                     document.getElementById("fileError").appendChild(li);
                }
            }  
        }

        function addImage(url) {
            var img = document.createElement("img");
            img.src = url;
            img.alt = "Preview Image";
            img.width = 150;
            img.style="margin:3px";
            document.getElementById("imageContainer").appendChild(img);
        }

        function validateFileSize() {
            document.getElementById("fileError").innerText="";
            const input = document.getElementById("Attachment");
            var result=true;
            for(var i=0; i<input.files.length; i++)
            {
                if (input.files[i].size > fsize1)
                {                   
                     var li = document.createElement("li");
                     li.innerText=input.files[i].name +" image size is grater "+fsize1/1024+" KB. File size is "+parseInt(input.files[i].size/1024)+" KB."
                     document.getElementById("fileError").appendChild(li);
                     result=false;
                }
            }
            if(result===false)
            {
                 var msg=document.createElement("p");
                 msg.innerText="Please select again correct size files, except these files."
                 document.getElementById("fileError").appendChild(msg);
            }
            return result;
        }     
    </script>
}